<.link
  navigate={~p"/"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  Home
</.link>
<h1>About</h1>
<.link
  navigate={~p"/projects"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  Projects
</.link>
