<h1>Home</h1>
<.link
  navigate={~p"/about"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  About
</.link>
<.link
  navigate={~p"/projects"}
  class="bg-cyan-500 hover:bg-cyan-400 text-2xl p-4 mt-4 rounded-full inline-block"
>
  Projects
</.link>
